---
import Layout from "../layouts/Layout.astro";
import PatternBG from "../components/PatternBG.astro";
import TechRings from "../components/TechRings.astro";
import GradientHeading from "../components/GradientHeading.astro";
import ProjectsCarousel from "../components/ProjectsCarousel.astro";
import ProjectCard from "../components/ProjectCard.astro";
import TimelineView from "../components/timeline/TimelineView.astro";
import SkillsView from "../components/SkillsView.astro";
import ProjectLogoCard from "../components/ProjectLogoCard.astro";
import ProjectMobileCard from "../components/ProjectMobileCard.astro";
import ContactCTA from "../components/ContactCTA.astro";
import TechLabel from "../components/TechLabel.astro";

let techListOne = [
    {
        size: 50,
        hex: "#FF5D01",
        deg: 225,
        img: "/images/astro-icon.svg",
        label: "Astro",
        point: {
            x: 0,
            y: 0,
        },
    },
    {
        size: 58,
        hex: "#00B5F8",
        deg: 340,
        img: "/images/flutter-icon.svg",
        label: "Flutter",
        point: {
            x: 120,
            y: -60 /**/,
        },
    },
    {
        size: 50,
        hex: "#81CD39",
        deg: 200,
        img: "/images/node-icon.svg",
        label: "NodeJS",
        point: {
            x: 40,
            y: 100,
        },
    },
    {
        size: 68,
        hex: "#00D8FF",
        deg: 248,
        img: "/images/react-icon.svg",
        label: "ReactJS",
        point: {
            x: 160,
            y: 70,
        },
    },
    {
        size: 60,
        hex: "#55C895",
        deg: 320,
        img: "/images/vue-icon.svg",
        label: "VueJS",
        point: {
            x: -60,
            y: 160 /**/,
        },
    },
    {
        size: 69,
        hex: "#38BDF8",
        deg: 295,
        img: "/images/tailwindcss-icon.svg",
        label: "TailwindCSS",
        point: {
            x: 80,
            y: 220,
        },
    },
];

const ringSizeOne = 48; // Unit rem
---

<Layout title="Keanu Kent B. Gargar">
    <ContactCTA
        class="max-w-[26rem] w-full fixed bottom-0 z-[100] left-1/2 -translate-x-1/2 mb-2 md:mb-4"
    />
    <main
        class="relative flex flex-col h-full w-full items-center overflow-x-hidden"
    >
        <div class="bg-[#19223B] relative w-full h-[100dvh]">
            <div
                class="absolute w-full h-full left-0 z-0 pointer-events-none inset-0 flex
                    items-center justify-center bg-cloud-950
                    [mask-image:linear-gradient(0deg,transparent_10%,#101524_95%)]"
            >
            </div>
            <PatternBG>
                <div class="w-full h-full flex flex-col">
                    <div class="h-[30vh] shrink-0"></div>
                    <div
                        class="relative w-full h-[40%] flex flex-col justify-center items-center"
                    >
                        <div
                            class="flex flex-row w-full justify-center items-start"
                        >
                            <div
                                class="blob-hero blob-gradient--1
                                gradient-color--1 opacity-60"
                            >
                            </div>
                        </div>
                        <div
                            class="absolute-center h-[85%] opacity-45 blur-[10px]"
                        >
                            <TechRings
                                nodeList={techListOne}
                                size={ringSizeOne}
                                gradientPercent={44}
                                isBlur={true}
                            />
                        </div>
                    </div>
                </div>
            </PatternBG>
            <div
                class="relative flex flex-col items-center min-h-[100svh] h-full"
            >
                <div
                    class="shrink-0 h-[30vh] z-[100] leading-7 flex flex-col
                        justify-end items-center w-full"
                >
                    <div
                        class="flex flex-col text-pretty *:flex *:flex-col *:gap-4
                        *:justify-start"
                    >
                        <div class="items-center text-center">
                            <div class="relative">
                                <img
                                    src="/images/ken.jpg"
                                    class="rounded-full max-w-[7rem]
                                    aspect-square z-50 relative"
                                />
                                <div
                                    class="absolute z-10
                                    top-[4px] right-[-1.5rem]
                                    translate-x-1/2 w-min"
                                >
                                    <TechLabel
                                        accentColor="#54A6E1"
                                        label="Hire me!"
                                    />
                                </div>
                            </div>

                            <h1
                                class="leading-[1.4em] text-[2rem] font-light
                        text-slate-300 flex justify-center items-center"
                            >
                                Hi, I am <img
                                    class="size-[2rem] mx-2 rounded-lg inline-block"
                                    src="/images/logo.svg"
                                /> Keanu Kent
                            </h1>
                        </div>
                        <div class="items-start">
                            <div
                                class="py-1 font-extralight text-slate-500 text-[1.1rem] leading-[1.45em]"
                            >
                                A
                                <span
                                    class="text-transparent bg-clip-text bg-gradient-to-r from-slate-300/80 via-[#54859c] via-70% to-slate-400/70"
                                    >frontend developer</span
                                >
                                from the Philippines.
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="relative w-full h-[35%] flex flex-row justify-center items-center text-white"
                >
                    <div class="text-center">
                        <GradientHeading
                            fontSize="2.5rem"
                            gradientClassName="gradient-color--1"
                        >
                            <div>I design + build apps</div>
                            <div>for web & mobile</div>
                        </GradientHeading>
                    </div>
                    <div class="absolute-center h-[85%]">
                        <TechRings
                            nodeList={techListOne}
                            size={ringSizeOne}
                            gradientPercent={44}
                            isBlur={false}
                            label="Frontend Skills"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div
            class="bg-cloud-950 relative w-full max-w-[1500px] flex flex-col
            justify-center items-center"
        >
            <!-- <InfoSectionBG /> -->
            <div
                class="relative flex flex-col mx-auto items-center justify-start w-full min-h-[100svh] h-full"
            >
                <div class="z-50">
                    <SkillsView />
                </div>
                <div
                    class="z-0 bg-cloud-950 w-[100vw] [box-shadow:0px_0px_24px_8px_rgba(17,23,40,1)]"
                >
                    <div class="min-h-[12rem] mx-auto w-full max-w-[1800px]">
                        <ProjectsCarousel />
                    </div>
                </div>
                <div
                    class="relative -mt-[2rem] xl:-mt-[4rem] mb-4 max-w-[72rem] px-4 w-full flex flex-col items-center
                    justify-center gap-4"
                >
                    <div
                        class="flex
                    flex-row flex-wrap gap-4 justify-center items-center"
                    >
                        <ProjectCard
                            endColor="#2794C5"
                            startColor="#250C6F"
                            accentColor="#6EB6D7"
                            title="WMP Property Solutions"
                            skills={["Design", "Web Development"]}
                            photoName="ian"
                            class="max-w-[calc(50%-0.5rem)] md:min-w-[26rem] min-w-[22rem]"
                        />
                        <ProjectCard
                            startColor="#080808"
                            endColor="#00365F"
                            accentColor="#6293BB"
                            title="Property Management Virtual Assistant"
                            skills={["Design", "VueJS"]}
                            photoName="pmva"
                            class="max-w-[calc(50%-0.5rem)] md:min-w-[26rem] min-w-[22rem]"
                        />
                        <div
                            class="flex flex-row flex-wrap h-fit w-full
                        rounded-2xl justify-center gap-4"
                        >
                            <ProjectMobileCard
                                startColor="#000000"
                                endColor="#0E4157"
                                titleColor="#59C7F6"
                                textColor="#97DDFB"
                                photoName="woodbridge"
                                title="myWoodbridge"
                                text="Learning Management System for Kinder & Pre-school"
                            />
                            <ProjectMobileCard
                                startColor="#000000"
                                endColor="#601D1D"
                                titleColor="#FE8888"
                                textColor="#FAB9B9"
                                photoName="sos"
                                title="SOS"
                                text="SOS System for the protection & safety of a school premises."
                            />
                            <ProjectMobileCard
                                startColor="#000000"
                                endColor="#072F2F"
                                titleColor="#2FC7C7"
                                textColor="#A1FFFF"
                                photoName="country"
                                title="Country Tracker"
                                text="Easy to use MVP app on country tracking for travelers."
                            />
                        </div>
                        <ProjectCard
                            startColor="#0A1314"
                            endColor="#00464B"
                            accentColor="#3DBEA7"
                            title="Regis Green Property"
                            skills={["Design", "Web Development"]}
                            photoName="regis"
                            class="max-w-[calc(50%-0.5rem)] md:min-w-[26rem] min-w-[22rem]"
                        />
                        <ProjectCard
                            startColor="#242B46"
                            endColor="#3D3717"
                            accentColor="#F5D99C"
                            title="Ianelli Estates"
                            skills={["Design", "Web Development"]}
                            photoName="ian"
                            class="max-w-[calc(50%-0.5rem)] md:min-w-[26rem] min-w-[22rem]"
                        />
                    </div>
                    <div
                        class="flex flex-row flex-wrap w-full items-center justify-center gap-4"
                    >
                        <div
                            class="flex flex-col items-center justify-center max-w-[calc(50%-0.5rem)]
                        min-w-[28rem] w-full aspect-[1] md:aspect-[1.2]"
                        >
                            <div
                                class="flex flex-row items-center justify-center h-fit w-fi"
                            >
                                <ProjectLogoCard
                                    accentColor="#FFD7D1"
                                    title="Orchid Property Management"
                                    photoName="orchid"
                                />
                                <ProjectLogoCard
                                    accentColor="#D0E4FF"
                                    title="Campbell Developers"
                                    photoName="campbell"
                                />
                            </div>
                            <div
                                class="flex flex-row items-center justify-center h-fit w-fit"
                            >
                                <ProjectLogoCard
                                    accentColor="#CCD0D5"
                                    title="Property Management Virtual Assistant"
                                    photoName="pmva"
                                />
                                <ProjectLogoCard
                                    accentColor="#DCE5F9"
                                    title="BEGREAT Property LTD"
                                    photoName="bgp"
                                />
                            </div>
                            <div class="my-2">
                                <TechLabel
                                    accentColor="#A7B8E8"
                                    label="Logo Designs"
                                />
                            </div>
                        </div>
                        <ProjectCard
                            startColor="#193F71"
                            endColor="#613A26"
                            accentColor="#F99E70"
                            title="Attain Property Solutions Limited"
                            skills={["Design", "Web Development"]}
                            photoName="aps"
                            class="max-w-[calc(50%-0.5rem)] md:min-w-[26rem] min-w-[22rem] h-auto lg:h-full max-sm:max-h-[24rem]"
                        />
                    </div>
                </div>
                <div class="z-50 mt-24 mb-12">
                    <TimelineView />
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    .blob-gradient--1 {
        width: 28rem;
        height: 8rem;
        border-radius: 50%;
        filter: blur(46px);
    }
</style>
